@model First_PRO.Models.User

@{
    Layout = "~/views/shared/_ASMPClayout.cshtml";
    ViewData["UserImage"] = Model.ImagePath;
    ViewData["Username"] = Model.Username;
}

<div class="container-xxl py-5 bg-dark hero-header mb-5">
    <div class="container text-center my-5 pt-5 pb-4">
        
            <h1 class="display-3 text-white mb-3 animated slideInDown"> Master Chef</h1>
            
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center text-uppercase">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page">About</li>
            </ol>
        </nav>
    </div>
</div>
<div class="container">
    <h6 class="display-6 text-black mb-3 animated slideInDown">Chef : @ViewBag.ChefName</h6>

            <div class="row g-4">
    <div class="row g-4">
        @foreach (var recipe in ViewBag.Recipes)
        {
                <div class="col-lg-6">
                    <div class="d-flex align-items-center category-item" >
                        <img class="flex-shrink-0 img-fluid rounded" src="@Url.Content("~/Images/" + recipe.ImagePath)" alt="Recipe Image" style=" width: 120px;">
                        <div class="w-100 d-flex flex-column text-start ps-4">
                            <h5 class="d-flex justify-content-between border-bottom pb-2">
                                <span>@recipe.Name</span>
                            </h5>
                            <p>@recipe.Description</p>
                            <p>Price: $@recipe.Price</p>
                        <p>Category: @recipe.Cat?.Name</p>
                        <!-- Additional chef information -->
                        <p>Chef: @recipe.User?.Username</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
</div>
