@model IEnumerable<First_PRO.Models.User>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Registered users</h1>



<div class="row ">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Users</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Username)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PhoneNumber)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Email)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Gender)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Address)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Role)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ImagePath)
                                </th>

                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Username)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @{
                                            string gender = "";
                                            switch (item.Gender)
                                            {
                                                case 1:
                                                    gender = "Male";
                                                    break;
                                                case 2:
                                                    gender = "Female";
                                                    break;
                                                case 3:
                                                    gender = "Other";
                                                    break;
                                                default:
                                                    gender = "Unknown";
                                                    break;
                                            }
                                        }
                                        @gender
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Address)
                                    </td>
                                    <td>
                                        @{
                                            string Role = "";
                                            switch (item.RoleId)
                                            {
                                                case 1:
                                                    Role = "Admin";
                                                    break;
                                                case 2:
                                                    Role = "Chef";
                                                    break;
                                                case 3:
                                                    Role = "Customer";
                                                    break;
                                                default:
                                                    Role = "Unknown";
                                                    break;
                                            }
                                        }
                                        @Role
                                    </td>

                                   

                                    <td>
                                        <img src=@Url.Content("~/Images/" + item.ImagePath)
                                             asp-append-version="true" style="border-radius:20%;" width="100" height="100" />
                                    </td>

                                    <td>

                                        <a class="badge badge-outline-warning" asp-action="UserEdit" asp-route-id="@item.Id">Edit</a> |
                                        <a class="badge badge-outline-warning" asp-action="UserDetails" asp-route-id="@item.Id">Details</a> |
                                        <a class="badge badge-outline-warning"  asp-action="UserDelete" asp-route-id="@item.Id">Delete</a>
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>